In [1]:
import yfinance as yf
import pandas as pd

In [2]:
BTC = yf.Ticker("BTC-USD")

In [3]:
btc_hist = BTC.history(period="5y")

In [4]:
print(btc_hist)

                    Open          High           Low         Close  \
Date
2017-07-04   2561.000000   2631.590088   2559.350098   2601.639893
2017-07-05   2602.870117   2622.649902   2538.550049   2601.989990
2017-07-06   2608.100098   2616.719971   2581.689941   2608.560059
2017-07-07   2608.590088   2916.139893   2498.870117   2518.659912
2017-07-08   2520.270020   2571.340088   2492.310059   2571.340088
...                  ...           ...           ...           ...
2022-06-30  20108.312500  20141.160156  18729.656250  19784.726562
2022-07-01  19820.470703  20632.671875  19073.708984  19269.367188
2022-07-02  19274.835938  19371.748047  19027.082031  19242.255859
2022-07-03  19242.095703  19558.269531  18966.951172  19297.076172
2022-07-04  19292.843750  19307.146484  19063.066406  19109.779297

                 Volume  Dividends  Stock Splits
Date
2017-07-04    985516032          0             0
2017-07-05    941566016          0             0
2017-07-06    761956992          0             0
2017-07-07    917411968          0             0
2017-07-08    733329984          0             0
...                 ...        ...           ...
2022-06-30  26267239923          0             0
2022-07-01  30767551159          0             0
2022-07-02  18100418740          0             0
2022-07-03  16390821947          0             0
2022-07-04  15371395072          0             0

[1827 rows x 7 columns]

In [5]:
btc_df = pd.DataFrame(btc_hist)
btc_df.head()
btc_df = btc_df.drop(columns=["High","Low","Volume","Dividends","Stock Splits"])
btc_df.head()
btc_df.to_csv('btc_df.csv')

In [6]:
btc_df["Ticker"] = "BTC"
btc_df

                    Open         Close Ticker
Date
2017-07-04   2561.000000   2601.639893    BTC
2017-07-05   2602.870117   2601.989990    BTC
2017-07-06   2608.100098   2608.560059    BTC
2017-07-07   2608.590088   2518.659912    BTC
2017-07-08   2520.270020   2571.340088    BTC
...                  ...           ...    ...
2022-06-30  20108.312500  19784.726562    BTC
2022-07-01  19820.470703  19269.367188    BTC
2022-07-02  19274.835938  19242.255859    BTC
2022-07-03  19242.095703  19297.076172    BTC
2022-07-04  19292.843750  19109.779297    BTC

[1827 rows x 3 columns]

In [7]:
USDT = yf.Ticker("USDT-USD")

In [8]:
usdt_hist = USDT.history(period="5y")

In [9]:
print(usdt_hist)

                Open      High       Low     Close       Volume  Dividends  \
Date
2017-11-09  1.010870  1.013270  0.996515  1.008180    358188000          0
2017-11-10  1.006500  1.024230  0.995486  1.006010    756446016          0
2017-11-11  1.005980  1.026210  0.995799  1.008990    746227968          0
2017-11-12  1.006020  1.105910  0.967601  1.012470   1466060032          0
2017-11-13  1.004480  1.029290  0.975103  1.009350    767884032          0
...              ...       ...       ...       ...          ...        ...
2022-06-30  0.998888  0.999093  0.998762  0.998819  45578518327          0
2022-07-01  0.998860  0.999137  0.998705  0.998867  49683415220          0
2022-07-02  0.998855  0.999119  0.998827  0.998960  31666712588          0
2022-07-03  0.998953  0.999128  0.998891  0.999078  27890770459          0
2022-07-04  0.999066  0.999136  0.998994  0.999052  27145549824          0

            Stock Splits
Date
2017-11-09             0
2017-11-10             0
2017-11-11             0
2017-11-12             0
2017-11-13             0
...                  ...
2022-06-30             0
2022-07-01             0
2022-07-02             0
2022-07-03             0
2022-07-04             0

[1699 rows x 7 columns]

In [10]:
usdt_df = pd.DataFrame(usdt_hist)
usdt_df["Ticker"] = "USDT"
usdt_df
usdt_df = usdt_df.drop(columns=["High","Low","Volume","Dividends","Stock Splits"])
usdt_df.head()
usdt_df.to_csv('usdt_df.csv')

In [11]:
ETH = yf.Ticker("ETH-USD")

In [12]:
eth_hist = ETH.history(period="5y")

In [13]:
print(eth_hist)

                   Open         High          Low        Close       Volume  \
Date
2017-11-09   308.644989   329.451996   307.056000   320.884003    893249984
2017-11-10   320.670990   324.717987   294.541992   299.252991    885985984
2017-11-11   298.585999   319.453003   298.191986   314.681000    842300992
2017-11-12   314.690002   319.153015   298.513000   307.907990   1613479936
2017-11-13   307.024994   328.415009   307.024994   316.716003   1041889984
...                 ...          ...          ...          ...          ...
2022-06-30  1099.353149  1103.690430  1009.094849  1067.298828  16350755497
2022-07-01  1068.316772  1100.223877  1040.150757  1059.767334  17499453625
2022-07-02  1060.121216  1073.052612  1033.962158  1066.512817   9935603640
2022-07-03  1066.467407  1083.418945  1044.005615  1073.766968   8557248150
2022-07-04  1073.171631  1073.768188  1048.483032  1051.470825   8122622976

            Dividends  Stock Splits
Date
2017-11-09          0             0
2017-11-10          0             0
2017-11-11          0             0
2017-11-12          0             0
2017-11-13          0             0
...               ...           ...
2022-06-30          0             0
2022-07-01          0             0
2022-07-02          0             0
2022-07-03          0             0
2022-07-04          0             0

[1699 rows x 7 columns]

In [14]:
eth_df = pd.DataFrame(eth_hist)
eth_df["Ticker"] = "ETH"
eth_df.head()
eth_df = eth_df.drop(columns=["High","Low","Volume","Dividends","Stock Splits"])
eth_df.head()
eth_df.to_csv('eth_df.csv')

In [15]:
TSLA = yf.Ticker("TSLA")

In [16]:
tsla_hist = TSLA.history(period="5y")

In [17]:
print(tsla_hist)

                  Open        High         Low       Close    Volume  \
Date
2017-07-03   74.047997   74.269997   70.300003   70.524002  31527000
2017-07-05   69.440002   69.447998   65.265999   65.417999  85233500
2017-07-06   63.452000   64.157997   61.259998   61.765999  96622500
2017-07-07   62.700001   63.400002   61.476002   62.644001  70884500
2017-07-10   62.580002   63.588001   60.625999   63.209999  69104500
...                ...         ...         ...         ...       ...
2022-06-27  748.099976  756.210022  727.700012  734.760010  29726100
2022-06-28  733.450012  749.909973  697.030029  697.989990  30130400
2022-06-29  691.500000  693.520020  666.820007  685.469971  27632400
2022-06-30  673.530029  688.369995  656.590027  673.419983  31533500
2022-07-01  681.000000  690.690002  666.359985  681.789978  24781500

            Dividends  Stock Splits
Date
2017-07-03          0           0.0
2017-07-05          0           0.0
2017-07-06          0           0.0
2017-07-07          0           0.0
2017-07-10          0           0.0
...               ...           ...
2022-06-27          0           0.0
2022-06-28          0           0.0
2022-06-29          0           0.0
2022-06-30          0           0.0
2022-07-01          0           0.0

[1259 rows x 7 columns]

In [18]:
tsla_df = pd.DataFrame(tsla_hist)
tsla_df["Ticker"] = "TSLA"
tsla_df.tail()
tsla_df = tsla_df.drop(columns=["High","Low","Volume","Dividends","Stock Splits"])
tsla_df.head()
tsla_df.to_csv('tsla_df.csv')

In [19]:
RIVN = yf.Ticker("RIVN")

In [20]:
rivn_hist = RIVN.history(period="5y")

In [21]:
print(rivn_hist)

                  Open        High         Low       Close     Volume  \
Date
2021-11-10  106.750000  119.459999   95.199997  100.730003  103679500
2021-11-11  114.625000  125.000000  108.010002  122.989998   83668200
2021-11-12  128.645004  135.199997  125.250000  129.949997   50636800
2021-11-15  130.800003  152.529999  127.510002  149.360001   64982300
2021-11-16  163.800003  179.470001  153.779999  172.009995   94036600
...                ...         ...         ...         ...        ...
2022-06-27   29.570000   30.150000   28.010000   28.440001   11869900
2022-06-28   28.110001   28.815001   26.861000   26.990000   14406600
2022-06-29   26.530001   26.980000   25.660000   26.270000   10857700
2022-06-30   25.930000   26.430000   24.830000   25.740000   11633000
2022-07-01   25.910000   26.780001   25.295000   25.700001    8525300

            Dividends  Stock Splits
Date
2021-11-10          0             0
2021-11-11          0             0
2021-11-12          0             0
2021-11-15          0             0
2021-11-16          0             0
...               ...           ...
2022-06-27          0             0
2022-06-28          0             0
2022-06-29          0             0
2022-06-30          0             0
2022-07-01          0             0

[161 rows x 7 columns]

In [22]:
rivn_df = pd.DataFrame(rivn_hist)
rivn_df["Ticker"] = "RIVN"
rivn_df.head()
rivn_df = rivn_df.drop(columns=["High","Low","Volume","Dividends","Stock Splits"])
rivn_df.head()
rivn_df.to_csv('rivn_df.csv')

In [23]:
first_column = rivn_df.pop("Ticker")
rivn_df.insert(0, "Ticker", first_column)