In [98]:
import yfinance as yf
from datetime import datetime
import os
import pandas as pd

In [101]:
pg = yf.Ticker("pg")
hist_pg = pg.history(period="5y")
print(hist_pg)
df_pg = pd.DataFrame(hist_pg)
print(df_pg)

                  Open        High         Low       Close   Volume  \
Date
2017-07-03   76.143748   76.666473   75.952081   76.439957  3607400
2017-07-05   76.544515   76.666483   76.222164   76.378983  4974300
2017-07-06   76.361552   76.622911   76.108901   76.117615  6038900
2017-07-07   76.396406   76.509661   76.039207   76.361557  5142200
2017-07-10   76.344119   76.553214   75.699426   75.873665  5356400
...                ...         ...         ...         ...      ...
2022-06-27  144.119995  144.759995  142.710007  143.250000  5618500
2022-06-28  143.539993  144.089996  140.580002  140.919998  6077300
2022-06-29  141.600006  142.860001  141.149994  142.199997  5174600
2022-06-30  141.690002  144.440002  141.229996  143.789993  7410100
2022-07-01  144.240005  146.250000  143.399994  146.110001  5937200

            Dividends  Stock Splits
Date
2017-07-03        0.0             0
2017-07-05        0.0             0
2017-07-06        0.0             0
2017-07-07        0.0             0
2017-07-10        0.0             0
...               ...           ...
2022-06-27        0.0             0
2022-06-28        0.0             0
2022-06-29        0.0             0
2022-06-30        0.0             0
2022-07-01        0.0             0

[1259 rows x 7 columns]
                  Open        High         Low       Close   Volume  \
Date
2017-07-03   76.143748   76.666473   75.952081   76.439957  3607400
2017-07-05   76.544515   76.666483   76.222164   76.378983  4974300
2017-07-06   76.361552   76.622911   76.108901   76.117615  6038900
2017-07-07   76.396406   76.509661   76.039207   76.361557  5142200
2017-07-10   76.344119   76.553214   75.699426   75.873665  5356400
...                ...         ...         ...         ...      ...
2022-06-27  144.119995  144.759995  142.710007  143.250000  5618500
2022-06-28  143.539993  144.089996  140.580002  140.919998  6077300
2022-06-29  141.600006  142.860001  141.149994  142.199997  5174600
2022-06-30  141.690002  144.440002  141.229996  143.789993  7410100
2022-07-01  144.240005  146.250000  143.399994  146.110001  5937200

            Dividends  Stock Splits
Date
2017-07-03        0.0             0
2017-07-05        0.0             0
2017-07-06        0.0             0
2017-07-07        0.0             0
2017-07-10        0.0             0
...               ...           ...
2022-06-27        0.0             0
2022-06-28        0.0             0
2022-06-29        0.0             0
2022-06-30        0.0             0
2022-07-01        0.0             0

[1259 rows x 7 columns]

In [102]:
# Create and empty DataFrame for prices
df_pg["Ticker"]="PG"
df_pg.head()
df_pg = df_pg.drop(columns=["High","Low","Volume","Dividends","Stock Splits"])
df_pg.head()

                 Open      Close Ticker
Date
2017-07-03  76.143748  76.439957     PG
2017-07-05  76.544515  76.378983     PG
2017-07-06  76.361552  76.117615     PG
2017-07-07  76.396406  76.361557     PG
2017-07-10  76.344119  75.873665     PG

In [103]:
df_pg.to_csv('data_pg.csv')