In [1]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import yfinance as yf

%matplotlib inline

In [2]:
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [4]:
# Format current date as ISO format
today = pd.Timestamp("2022-07-05", tz="America/New_York").isoformat()

# Set the tickers
new_portfolio_tickers = ['aapl','lit','tsla']
old_portfolio_tickers = ['dis','ko','jnj','gld']

# Set timeframe to "1Day" for Alpaca API
timeframe = "1Day"

# Get current closing prices
df_new_portfolio = alpaca.get_bars(
    new_portfolio_tickers,
    timeframe,
    start = today,
    end = today
).df

df_new_portfolio.head()

# Reorganize the DataFrame
# Separate ticker data
aapl = df_new_portfolio[df_new_portfolio['symbol']=='aapl'].drop('symbol', axis=1)
lit = df_new_portfolio[df_new_portfolio['symbol']=='lit'].drop('symbol', axis=1)
tsla = df_new_portfolio[df_new_portfolio['symbol']=='tsla'].drop('symbol', axis=1)

# Preview DataFrame
df_new_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-07-05 04:00:00+00:00,137.70,141.61,136.9300,141.56,73438182,601965,139.766834,AAPL
2022-07-05 04:00:00+00:00,70.60,72.13,70.6000,72.06,769150,13134,71.323114,LIT
2022-07-05 04:00:00+00:00,668.13,699.44,648.5001,699.20,28260137,783242,674.624912,TSLA

In [5]:
# Pick close prices
aapl_close_price = 141.56
lit_close_price = 72.06
tsla_close_price = 699.20
# Print close prices
print(f"Current aapl closing price: ${aapl_close_price}")
print(f"Current lit closing price: ${lit_close_price}")
print(f"Current tsla closing price: ${tsla_close_price}")

Current aapl closing price: $141.56
Current lit closing price: $72.06
Current tsla closing price: $699.2

In [6]:
my_aapl = 10
my_lit = 10
my_tsla = 10

In [7]:
# Compute the current value of shares
my_aapl_value = (my_aapl * aapl_close_price)*1.46
my_lit_value = (my_lit * lit_close_price)*1.46
my_tsla_value = (my_tsla * tsla_close_price)*1.46

# Print current value of shares
print(f"The current value of your {my_aapl} aapl shares is ${my_aapl_value:0.2f}")
print(f"The current value of your {my_lit} lit shares is ${my_lit_value:0.2f}")
print(f"The current value of your {my_tsla} tsla shares is ${my_tsla_value:0.2f}")

The current value of your 10 aapl shares is $2066.78
The current value of your 10 lit shares is $1052.08
The current value of your 10 tsla shares is $10208.32

In [8]:
# Set current amount of crypto assets
my_btc = 1
my_eth = 10
my_usdt = 10

In [9]:
# Crypto API URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=USD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=USD"
usdt_url = "https://api.alternative.me/v2/ticker/Tether/?convert=USD"

In [10]:
# Fetch current BTC price
btc = requests.get(btc_url).json()
(json.dumps(btc, indent=4))

# Fetch current ETH price
eth = requests.get(eth_url).json()
(json.dumps(eth, indent=4))

# Fetch current USDT price
usdt = requests.get(usdt_url).json()
(json.dumps(usdt, indent=4))


# Compute current value of my crpto
my_btc_value = (my_btc * (btc['data']['1']['quotes']["USD"]['price']))*1.46
my_eth_value = (my_eth * (eth['data']['1027']['quotes']["USD"]['price']))*1.46
my_usdt_value = (my_usdt * (usdt['data']['825']['quotes']["USD"]['price']))*1.46

# Print current crypto wallet balance
print(f"The current value of your {my_btc} BTC is ${my_btc_value:0.2f}")
print(f"The current value of your {my_eth} ETH is ${my_eth_value:0.2f}")
print(f"The current value of your {my_usdt} USDT is ${my_usdt_value:0.2f}")

The current value of your 1 BTC is $29916.86
The current value of your 10 ETH is $17282.60
The current value of your 10 USDT is $14.60

In [11]:
#Assess Value of the New Portfolio
print(f"The current value of your new portfolio is ${my_btc_value+my_eth_value+my_usdt_value+my_aapl_value+my_lit_value+my_tsla_value:0.2f}")

The current value of your new portfolio is $60541.24

In [12]:
# Set timeframe to "1Day" for Alpaca API
timeframe = "1Day"

# Get current closing prices
df_old_portfolio = alpaca.get_bars(
    old_portfolio_tickers,
    timeframe,
    start = today,
    end = today
).df

df_old_portfolio.head()

# Reorganize the DataFrame
# Separate ticker data
dis = df_old_portfolio[df_old_portfolio['symbol']=='dis'].drop('symbol', axis=1)
gld = df_old_portfolio[df_old_portfolio['symbol']=='gld'].drop('symbol', axis=1)
jnj = df_old_portfolio[df_old_portfolio['symbol']=='jnj'].drop('symbol', axis=1)
ko = df_old_portfolio[df_old_portfolio['symbol']=='ko'].drop('symbol', axis=1)

# Preview DataFrame
df_old_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-07-05 04:00:00+00:00,93.98,97.230,92.310,97.18,10633946,128222,95.360958,DIS
2022-07-05 04:00:00+00:00,167.18,167.330,164.410,164.75,13445951,93026,165.225682,GLD
2022-07-05 04:00:00+00:00,178.83,179.125,174.610,178.14,5651457,80245,176.938228,JNJ
2022-07-05 04:00:00+00:00,64.18,64.180,62.415,63.28,16164054,139762,63.249161,KO

In [13]:
# Pick close prices
dis_close_price = 97.18
gld_close_price = 164.75
jnj_close_price = 178.14
ko_close_price = 63.28
# Print close prices
print(f"Current dis closing price: ${dis_close_price}")
print(f"Current gld closing price: ${gld_close_price}")
print(f"Current jnj closing price: ${jnj_close_price}")
print(f"Current ko closing price: ${ko_close_price}")

Current dis closing price: $97.18
Current gld closing price: $164.75
Current jnj closing price: $178.14
Current ko closing price: $63.28

In [14]:
my_dis = 10
my_gld = 10
my_jnj = 10
my_ko = 10

In [15]:
# Compute the current value of shares
my_dis_value = (my_dis * dis_close_price)*1.46
my_gld_value = (my_gld * gld_close_price)*1.46
my_jnj_value = (my_jnj * jnj_close_price)*1.46
my_ko_value = (my_ko * ko_close_price)*1.46

# Print current value of shares
print(f"The current value of your {my_dis} dis shares is ${my_dis_value:0.2f}")
print(f"The current value of your {my_gld} gld shares is ${my_gld_value:0.2f}")
print(f"The current value of your {my_jnj} jnj shares is ${my_jnj_value:0.2f}")
print(f"The current value of your {my_ko} ko shares is ${my_ko_value:0.2f}")

The current value of your 10 dis shares is $1418.83
The current value of your 10 gld shares is $2405.35
The current value of your 10 jnj shares is $2600.84
The current value of your 10 ko shares is $923.89

In [16]:
cba_brk_ticker = ['cba.ax','brk-b']
cba_brk_stock_data = yf.download(cba_brk_ticker, start = "2022-07-05",ed = "2022-07-05")
cba_brk_stock_data['Close']

[*********************100%***********************]  2 of 2 completed

                 BRK-B     CBA.AX
Date
2022-07-05  275.690002  91.230003
2022-07-06  275.649994  92.000000
2022-07-07         NaN  93.080002

In [19]:
# Pick close prices
brk_close_price = 275.690002
cba_close_price = 91.230003

# Print close prices
print(f"Current brk closing price: ${brk_close_price}")
print(f"Current cba closing price: ${cba_close_price}")

Current brk closing price: $275.690002
Current cba closing price: $91.230003

In [20]:
my_brk = 10
my_cba = 10

In [22]:
# Compute the current value of shares
my_brk_value = (my_brk * brk_close_price)*1.46
my_cba_value = (my_cba * cba_close_price)

# Print current value of shares
print(f"The current value of your {my_brk} brk shares is ${my_brk_value:0.2f}")
print(f"The current value of your {my_cba} cba shares is ${my_cba_value:0.2f}")

The current value of your 10 brk shares is $4025.07
The current value of your 10 cba shares is $912.30

In [23]:
#Assess Value of the New Portfolio
print(f"The current value of your old portfolio is ${my_dis_value+my_gld_value+my_jnj_value+my_ko_value+my_brk_value+my_cba_value:0.2f}")

The current value of your old portfolio is $12286.28